@import "../../scss/mixins", "../../scss/variables";

.section {
  // background-color: aqua;
  overflow: hidden;
  height: 100vh;
  width: 99.5vw;
  // border: 1px solid yellow;
  display: flex;
  // display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header {
    h2 {
      font-size: 3rem;
    }
  }
  .container {
    width: 100vw;
    // border: 1px solid red;
    height: calc(100% - 94.4px);
    .item {
      .itemContainer { 
        display: flex;
        flex-direction: column;
        align-items: center; 
        // border: 1px solid green;
        .question {
          // border: 1px solid white;
          // margin: 5.5rem;
          // text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 8rem;
          text-align: center;
        }
        .answer {
          width: 70%;
          // border: 1px solid blue;
          display: flex;
          align-items: center; 
          display: flex;
          justify-content: center;
          min-height: 17rem;
          overflow: hidden; 
          h4 {
            text-align: justify;
            // white-space: pre;
            line-height: 2rem;
            word-spacing: 2px;
          }
        }
      }
    }
  }
}

@include media-md {
  .section { 
    .container { 
      .item {
        .itemContainer {  
          .answer { 
            display: flex;
            align-items: center;
            &>h4{
              font-size: 1.2rem;
              line-height: normal; 
            }
          }
        }
      }}
  }
}

.hi-container {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    & > h6 {
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 1rem;
      font-family: $glacial-indiffrence;
    }
    .neon {
      font-size: 25rem !important;
      animation: neon2 1.5s ease-in-out infinite alternate;
      font-weight: 500;
      margin: 0;
      /* text-shadow:
                0 0 5px #fff,
                0 0 20px #fff,
                0 0 90px #fff,
                0 0 150px #fff; */
    }
  }
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 90px #fff, 0 0 100px #fff;
    }

    to {
      text-shadow: 0 0 5px #fff, 0 0 30px #fff, 0 0 70px #fff, 0 0 130px #fff;
    }
  }
}

@include media-xl {
  .hi-container {
    height: auto;
    div {
      padding: 2rem;
      & > h6 {
        letter-spacing: 2px;
        font-size: 2.2rem;
      }
      .neon {
        font-size: 35rem !important;
      }
    }
  }
}
@include media-md {
  .hi-container {
    height: auto;
    div {
      padding: 2rem;
      & > h6 {
        letter-spacing: 2px;
        font-size: 1rem;
      }
      .neon {
        font-size: 20rem !important;
      }
    }
  }
}

@include media-sm {
  .hi-container {
    height: auto;

    div {
      padding: 2rem;
      & > h6 {
        letter-spacing: 2px;
        font-size: 1rem;
      }
      .neon {
        font-size: 15rem !important;
      }
    }
  }
}
