.section {
  .wallpaper {
    svg {
      transition: 2000ms all;
      width: 100%;
    }
  }
}
.quiz-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  transition: visibility 0s, opacity 0.5s linear;
}
.quiz_inner {
  position: absolute;
  border-radius: 10px;
  padding: 1%;
  left: 10%;
  right: 10%;
  top: 12%;
  bottom: 3%;
  margin: auto;
  background: rgb(73, 117, 230);
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 300;
  color: #000000;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.quiz-main {
     display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: 1 / 2 / 2 / 5; 
}
.answer-count {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2; 
}
.hint-count {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: 1 / 5 / 2 / 6;
}
h4{
  height: max-content;
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
}

.quiz-text {
  display: inline-block;
  left: 5%;
  right: 5%;
}
.quiz-button {
  bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-size: small;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #fff;
}
