@import "../../scss/mixins", "../../scss/variables";

.arts-container {
  .title {
    text-align: center;
    font-size: 3.5rem !important;
    font-weight: bold;
    margin-bottom: 1rem;
    &.center {
      margin: 20px auto;
    }
  }
  .arts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
