@import "../../scss/mixins", "../../scss/variables";
.container {
  height: 80vh;
  h2 {
    font-size: 3rem;
    letter-spacing: 8px;
  }
  font-family: $glacial-indiffrence;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    border: 1px solid red;

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    // border: 1px solid crimson;
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      font-size: 3rem;
      padding: 3rem 0;
      text-align: center;
      #discord {
        padding: 10px 6px;
      }
      #instagram {
        padding: 10px 12px;
      }
      #linkedin {
        padding: 8px 12px;
      }
      #youtube {
        padding: 10px 8px;
      }
      & > i {
        background: white;
        color: #060606;
        padding: 8px;
        border-radius: 50%;
        transition: all linear 0.5s;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@include media-xl {
  .container {
    height: 70vh;
    h2 {
      font-size: 6rem;
    }
    .content {
      // height: 50vh;
      .links { 
        font-size: 5rem; 
        #discord {
          padding: 18px 14px;
        }
        #instagram {
          padding: 18px 20px;
        }
        #linkedin {
          padding: 16px 20px;
        }
        #youtube {
          padding: 18px 16px;
        }
        & > i {
          padding: 1rem;
        }
      }
      .copyright {
        font-size: 2rem;
      }
    }
  }
}

@include media-md {
  .container {
    .content {
      .links {
        max-width: 100%;
      }
      .copyright {
        position: static;
      }
    }
  }
}

@include media-sm {
  .container {
    h2 {
      font-size: 2rem;
    }
    // border: 1px solid green;
    height: 85vh;
    .content {
      .links {
        width: 17rem;
        // font-size: 2rem !important;
      }
    }
  }
}
