@import "../../scss/mixins", "../../scss/variables";
.dropdown-menu {
  min-width:100% !important;
}

#navbarScrollingDropdown {
  width:max-content
}
.navbar-boot {
  background-color: $backgroundColor; 
  // background-color: transparent; 
  // border: 1px solid red;
  width: 100vw;
  text-transform: uppercase;
  padding: 0 0.4rem;
  font-family: $glacial-indiffrence;
  letter-spacing: 2.3px;
  .navbar-toggler {
    color: white;
    border: none;
  }
  img {
    width: 7rem;
  }
  .nav-link { 
    border-radius: 1rem;
    color: white !important;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom left;
      transition: transform 0.25s ease-out;
    }
    &:hover::before { 
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  .wallet {
    text-align: center;
    width: 13rem; 
  }
}
@include media-md {
  .navbar-boot {
    .wallet {
      text-align: start;
    }
  }
}
@include media-lg {
  .navbar-boot {
    .wallet {
      width: 12rem;
    }
  }
}
@include media-xl {
  .navbar-boot {
    font-size: 2rem;
    .navbar-toggler {
      color: white;
    }
    img {
      width: 10rem;
    }
    .nav-link {
      color: white !important;
    }
    .wallet {
      text-align: center;
      width: 23rem;
    }
  }
}
 