@import "../../scss/mixins", "../../scss/variables";
.dropdown-menu {
  color: white;
  min-width: 100% !important;
  background-color: #3b3b3ba1 !important;
}

#navbarScrollingDropdown {
  width: max-content;
}

.navbar-boot {
  // height: 4rem;
  background-color: #000;
  width: 100vw;
  text-transform: uppercase;
  padding: 0 0.4rem;
  font-family: $glacial-indiffrence;
  letter-spacing: 2.3px;
  .navbar-toggler {
    color: white;
    border: none;
  }
  img { 
    width: 8rem;
    transition: all .3s linear;
    &:hover{
      transform: scale(1.1);
    }
  }
  .dropdown-item {
    color: white; 
    transition: all .3s linear;
    &:active {
      background-color: rgba(128, 128, 128, 0.494) !important;
    }
    &:hover {
      // transition: all .3s linear;
      font-weight: 900;
      color: white;
      background-color: transparent;
    }
  }
  .nav-link {
    border-radius: 1rem;
    color: white !important;
    position: relative;
    &>::after{
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom left;
      transition: transform 0.25s ease-out;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  .wallet {
    text-align: center;
    width: 13rem;
    // border: 1px solid red;

  }
}
// @include media-md {
//   .navbar-boot {
//     .wallet {
//       text-align: start;
//     }
//   }
// }
@include media-lg {
  .navbar-boot {
    .wallet {
      // width: 12rem;
      text-align: left;
    }
  }
}
@include media-xl {
  .navbar-boot {
    font-size: 2rem;
    .navbar-toggler {
      color: white;
    }
    img {
      width: 10rem;
    }
    .nav-link {
      color: white !important;
    }
    .wallet {
      text-align: left;
      // width: 23rem;
    }
  }
}
