@import "../../scss/mixins", "../../scss/variables";

/* // ! First Page */
.news-container {
  background-color: $backgroundColor;
  // border: 1px solid yellow;
  .imageDiv {
    margin: 1rem;
  }
}

.first-container {
  height: 100vh;
  // border: 1px solid yellow;
  display: flex;
  // display: block;
  flex-direction: column;
  align-items: center;
  .first-content {
    height: calc(100% - 94.4px);
    padding: 2rem;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    // margin: 1rem;
    .content {
      max-width: 30rem;
      color: white;
      text-align: justify;
    }
    .imageDiv {
      margin-right: 4rem;
    }
  }
}

/* // ! Second PAge */

.second-container {
  height: 100vh;
  // border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  .blog-container {
    width: 100%;
    height: calc(100% - 94.4px);
    background-color: $backgroundColor;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-container {
      width: 100%;
      height: 100%;
      display: flex;
      .blog-left {
        width: 50%;
        // /* border: 1px solid green; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        .circle_1 {
          width: 12rem;
          height: 12rem;
          border-radius: 50%;
          background: #626060;
          position: absolute;
          left: 20%;
          top: 14%;
        }
        .circle_2 {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background: #626060;
          position: absolute;
          top: 35%;
          left: 50%;
        }
        .circle_3 {
          width: 9rem;
          height: 9rem;
          border-radius: 50%;
          background: #626060;
          position: absolute;
          top: 60%;
          left: 27%;
        }
      }
      .blog-right {
        width: 50%;
        // border: 1px solid red;
        /* position: relative; */
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding-top: 2rem;
        .circle-up {
          width: 80%;
          height: 50%;
          display: flex;
          align-items: center;
          margin-right: 3rem;
          .circle-right {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            background: #626060;
          }
        }
        .content {
          max-width: 30rem;
          color: white;
          text-align: justify;
        }
      }
    }
  }
}

/* // ! Third Slide */

.third-container {
  height: 100vh;
  // border: 1px solid yellow;
  // display: flex;
  // display: block;
  flex-direction: column;
  align-items: center;
  .carou-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem;
    // border: 1px solid red;
    h1 {
      font-size: 2rem !important ;
    }
    p {
      letter-spacing: 2px;
      text-align: justify;
    }
  }
}

/* // ! Fourth Slide */

.fourth-container {
  height: 100vh;
  // border: 1px solid yellow;

  .fourth-content {
    height: calc(100% - 94.4px);
    display: flex;
    // border: 1px solid crimson;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    .fourth-text {
      width: 23rem;
      min-width: 20rem;
      .desc {
        letter-spacing: 2px;
        font-weight: lighter;
      }
    }
    .pp {
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
    }
  }
}

/* // ! fifth slide  */

.fifth-container {
  height: 100vh;
  // border: 1px solid yellow;
  .fifth-content {
    height: calc(100% - 94.4px);
    display: flex;
    // border: 1px solid crimson;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    padding-bottom: 5rem;
    .links {
      display: flex;
      gap: 2rem;
      font-size: 4rem;
      padding: 4rem 0;
      text-align: center;
      & > i {
        background: white;
        color: $backgroundColor;
        padding: 1rem;
        border-radius: 50%;
        transition: all linear 0.5s;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
      .fa-discord {
        font-size: 3.5rem;
        padding: 1rem 0.8rem !important;
      }
    
      .fa-instagram {
        padding: 0.9rem 1.2rem !important;
      }
    
      .fa-youtube {
        padding: 1rem 0.8rem !important;
      }
    }
  }
}
 
/* // ! News Hi */


.hi-container {
  height: 100vh;
  background-color: $backgroundColor; 
  border: 1px solid salmon;
  div {
    & > h6 {
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 1rem;
      margin-top: 0;

    }
    .neon {
      font-size: 25rem !important;
      animation: neon2 1.5s ease-in-out infinite alternate;
      font-weight: 500;
      margin: 0;
      /* text-shadow:
              0 0 5px #fff,
              0 0 20px #fff,
              0 0 90px #fff,
              0 0 150px #fff; */
    }
  }
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 90px #fff, 0 0 100px #fff;
    }

    to {
      text-shadow: 0 0 5px #fff, 0 0 30px #fff, 0 0 70px #fff, 0 0 130px #fff;
    }
  }
}
.carousel {
  h2 {
    color: white;
  } 
}