@import "../../scss/mixins", "../../scss/variables";

.container {
  min-height: 100vh;
  width: 100vw; 
  h2 {
    font-size: 3rem;
    letter-spacing: 8px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: $glacial-indiffrence;
  width: 100%;
  overflow: hidden;
  .blog-container {
    width: 100%;
    height: calc(100% - 94.4px);
    // background-color: #060606;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-container {
      flex-wrap: wrap;
      width: 100%;
      // min-width: 40rem;
      height: 100%;
      display: flex;
      .blog-left {
        width: 50%;
        padding: 5rem;
        /* border: 1px solid green; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        min-height: 70vh;
        .circle_1 {
          width: 14rem;
          height: 14rem;
          border-radius: 50%;
          background: $circleBgColor;
          position: absolute;
          left: 20%;
          top: 0;
        }
        .circle_2 {
          width: 12rem;
          height: 12rem;
          border-radius: 50%;
          background: $circleBgColor;
          position: absolute;
          top: 8rem;
          left: 60%;
        }
        .circle_3 {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background: $circleBgColor;
          position: absolute;
          top: 20rem;
          left: 30%;
        }
      }
      .blog-right {
        padding: 0rem 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        // border: 1px solid red;
        .circle-up {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          .circle-right {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            background: $circleBgColor;
            margin-bottom: 2rem;
          }
        }
        .content {
          width: 100%;
          max-width: 45rem;
          color: white;
          text-align: justify;
          font-size: 1.1rem !important;
        }
      }
    }
  }
}

@include media-sm {
  .container { 
    .blog-container {
      .content-container { 
        .blog-left {  
          // border: 1px solid red;
          min-height: 28rem;
          width: 100%;
          margin-right: 1rem;
          .circle_1 { 
            width: 11rem;
            height: 11rem; 
            top: 10%;
          }
          .circle_2 {
            width: 9rem;
            height: 9rem;
            top: 0 !important;  
          }
          .circle_3 {
            
            width: 8rem;
            height: 8rem;
            top: 75%;
            left: 15%;
          }
        }
        .blog-right {
          // padding: 0;
          margin-top: 1rem;
          min-height: 40vh;
          width: 100%;
          .circle-up {
            .circle-right {
              margin-bottom: 0rem;
            }
          }
        }
      }
    }
  }
}

@include media-md {
  .container {
    .blog-container {
      .content-container { 
        .blog-left { 
          .circle_1 { 
            // top: 2rem !important;
            left: 1rem !important;
          }
          .circle_2 {
            width: 10rem;
            height: 10rem;
            top: 10rem !important;
            left: 55% !important;
          }
          .circle_3 {
            width: 9rem;
            height: 9rem;
            top: 20rem;
            left: 17% !important;
          }
        }
        .blog-right {
          // height: auto;
          // height: 50vh;
          padding: 0;
          min-height: 40vh; 
          // width: 80% !important; 
        }
      }
    }
  }
}

@include media-lg {
  .container {
    .blog-container {
      .content-container {
        .blog-left { 
          .circle_1 { 
            left: 10%;
            top: 0;
          }
          .circle_2 { 
            top: 8rem;
            left: 57%;
          }
          .circle_3 { 
            top: 18rem;
            left: 25%;
          }
        }
        .blog-right {
          padding: 0 2rem;  
          .circle-up { 
            .circle-right {
              width: 12rem;
              height: 12rem;
              border-radius: 50%;
              background: $circleBgColor;
              margin-bottom: 2rem;
            }
          } 
        }
      }
    }
  }
}

@include media-xl {
  .container {
    // margin-bottom: 10%;
    h2 {
      font-size: 6rem;
    }
    .blog-container {
      .content-container {
        .blog-left {
          // margin: 0 1rem;
          .circle_1 {
            width: 22rem;
            height: 22rem;
          }
          .circle_2 {
            width: 18rem;
            height: 18rem; 
          }
          .circle_3 {
            width: 17rem;
            height: 17rem;
            top: 27rem;
          }
        }
        .blog-right {
          align-items: flex-start;
          .circle-up {
            height: 40%;
            .circle-right {
              width: 22rem;
              height: 22rem;
            }
          }
          .content {
            max-width: none;
            margin-top: 3rem;
            padding-right: 1rem;
            & > p {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
