@import "../../scss/mixins", "../../scss/variables";
.container {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2%;
  * {
    transition: all 0.2s linear;
  }
  h2 {
    font-size: 3rem;
    letter-spacing: 8px;
  }
  .header {
    padding-top: 1rem;
    h2 {
      font-size: 3rem;
    }
  }
  font-family: $glacial-indiffrence;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
  .content {
    height: calc(100% - 94.4px);
    // max-width: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    // border: 1px solid green;
    .content-text {
      color: white;
      text-align: justify;
      font-weight: lighter;
      font-size: 1.2rem;
      // width: 50%;
      & > p {
        max-width: 30rem;
        min-width: 15rem;
        // margin-left: 5rem;
      }
    }
    .imageDiv {
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@include media-xl {
  .container {
    // height: 90vh;  
    h2 {
      font-size: 4rem !important;
      margin: 0;
    }
    .content {
      gap: 5rem;
      .content-text {
        color: white;
        // text-align: justify;
        // font-weight: lighter;
        padding: 0 1rem;
        & > p {
          font-size: 2rem; 
          max-width: 60rem; 
        }
      }
      .imageDiv {
        margin-right: 0;
        & > img {
          width: 40rem;
        }
      }
    }
  }
}

@include media-lg {
  .container {
    .content {
      gap: 1rem;
      .content-text {
        display: flex;
        justify-content: center;
        & > p {
          max-width: 80%;
          min-width: none;
        }
      }
    }
  }
}

@include media-md {
  .container {
    padding-top: 0;
    height: auto;
    .header {
      & > h2 {
        font-size: 2rem;
      }
    }
    .content {
      .content-text {
        color: white;
        text-align: justify;
        font-weight: lighter;
        padding: 0 1rem;
        width: 80%;
        & > p {
          max-width: none;
          min-width: none;
        }
      }
      .imageDiv {
        margin-right: 0;
        & > img {
          width: 17rem;
        }
      }
    }
  }
}

@include media-sm {
  .container {
    
    .content {
      gap: 1rem;
      .content-text {
        & > p {
          font-size: 1rem;
        }
      }
    }
  }
}
