@import "../../scss/mixins", "../../scss/variables";
.container {
  margin-bottom: 2%;
  * {
    transition: all 0.2s linear;
  }
  h2 {
    font-size: 3rem;
    letter-spacing: 8px; 
  }
  font-family: $glacial-indiffrence; 
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  // border: 1px solid red;
  .content {
    height: calc(100% - 94.4px);
    // max-width: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .content-text {
      color: white;
      text-align: justify;
      font-weight: lighter;
      & > p {
        max-width: 30rem;
        min-width: 15rem;
        // margin-left: 5rem;
        // border: 1px solid green;
      }
    }
    .imageDiv {
      margin-right: 4rem;
    }
  }
}

@include media-md {
  .container {
    height: auto;
    .content {
      gap: 3rem;
      .content-text {
        color: white;
        text-align: justify;
        font-weight: lighter;
        padding: 0 1rem;
        width: 80%;
        & > p {
          max-width: none;
          min-width: none; 
        }
      }
      .imageDiv {
        margin-right: 0;
        & > img {
          width: 17rem;
        }
      }
    }
  }
}
@include media-xl {
  .container {
    height: auto;
    // height: 100vh;
    h2 {
      font-size: 6rem;
      margin: 0;
    }
    .content {
      gap: 5rem;
      .content-text {
        color: white;
        // text-align: justify;
        // font-weight: lighter;
        padding: 0 1rem;
        & > p {
          font-size: 2rem;
          // max-width: none;
          max-width: 60rem;

          // min-width: none;
          // margin-left: 5rem;
          // border: 1px solid green;
        }
      }
      .imageDiv {
        margin-right: 0;
        & > img {
          width: 35rem;
        }
      }
    }
  }
}

@include media-sm {
  .container {
    h2 {
      font-size: 2rem;
    }
  }
}