@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@font-face {
    font-family: Glacial-Indifference;
    src: url(../assets/fonts/GlacialIndifference-Regular.otf);
  }

$backgroundColor: #0f0f0f;
$circleBgColor: #626060;
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$turqo: #03bfcb;
$glacial-indiffrence: "Glacial-Indifference", sans-serif;
