.backTop {
  position: fixed;
  bottom: 3.5rem;
  right: 1.5rem;
  box-shadow: 0 0 14px -5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: .5rem;
  // width: auto;
  padding: .5rem;
  display: flex;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  background: white;
  align-items: center;
  justify-content: center;
  &:hover {
    animation-name: rotate;
    animation-duration: 1s;
  }
}
